<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">
    <h1>Payment Canceled</h1>
    <p>You have canceled the payment process. You can try again or explore other listings.</p>
    <a href="/listings" class="btn btn-dark">Go Back to Listings</a>
</div>
