<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">
    <h1>Thank you for your booking!</h1>
    <p>Your payment was successful. We have received your booking details and will contact you shortly with further information.</p>
    <a href="/listings" class="btn btn-dark">Go Back to Listings</a>
</div>
